* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0  ;
}

.top-container {
  background-color: #fff5e0;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-size: 3rem;
}

.h5 {
  font-weight: 200;
  text-align: right;
}

h2 {
  font-weight: bold;
  padding-bottom: 5px;
}

.midle-container {
  height: 35rem;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-align: center;
}

img {
  height: 200px;
  border-radius: 50%;
  padding-bottom: 50px;
  margin-top: 100px;
}

hr {
  text-align: center;
  border: solid 1px #fff5e0;
}
 
#pd {
  height: 100%;
  padding: 20px;
  text-align: center;
  font-size: large;
}

h2 {
  padding-bottom: 2%;
}

.vertical {
  padding-top: 5px;
  border-left: 2px solid #f1c501bc;
  height: 630px;
  position: absolute;
  left: 49%;
}

.edu {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 1rem;
}

.web {
  height: auto;
  width: 400px;
}

.web p {
  text-align: start;
  padding-top: 20px;
  padding-bottom: 40px;
}

#skills {
  padding-bottom: 20px;
}

.zi {
  text-align: start;
}

ul li {
  margin-left: 15px;
  margin-bottom: 15px;
}

.data {
  height: auto;
  width: 400px;
  flex-wrap: nowrap;
}

.data p {
  text-align: start;
  padding-top: 20px;
  padding-bottom: 20px;
}

#edu {
  padding-bottom: 20px;
}

.lower-container {
  height: 20rem;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-align: center;
}

.contact {
  height: 100%;
}

.contact p {
  margin: 20px auto 60px;
}

.btn {
  background: rgb(255, 245, 211);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 10px 20px 10px 20px;
  border-radius: 8%;
}

.btn:hover {
  background: black;
  color: white;
  text-decoration: none;
}

.bottom-container {
  background: rgb(255, 245, 224);
  padding: 50px 20px;
}

.footer-links {
  text-decoration: none;
  color: black ;
  margin: 10px  20px;
}

.copyright {
  padding: 30px 0;
  color: black;
  font-size: 20px;
}
 
@media (max-width: 406px) {
  .hero {
    font-size: smaller;
  }
}

@media (max-width: 850px) {

  #pd {
    font-size: smaller;
  }

  .vertical {
    display: none;
  }
}

@media (max-width: 403px) {
  .footer-links {
    display: block;
  }
}

